
<div class="obras">
    <app-header [customClass]="classScrolled"></app-header>
    <div class="descricao">
        <h3>Obras Realizadas</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam animi maiores pariatur explicabo eos temporibus exercitationem, velit dignissimos quibusdam eius voluptates labore, voluptatum consectetur quaerat nesciunt aliquam hic! Dolorum?</p>
    </div>
    <div class="ImagemContainer">
        <div class="Coluna direita">
            <img id="Imagem1" src="assets/images/obras/Rectangle91.png">
        </div>
        <h6>São Paulo / SP</h6>
        <h5>Fachada Grid e Lock SL</h5>
        <div class="Coluna esquerda">
            <img id="Imagem2" src="assets/images/obras/Rectangle89.png">
        </div>
        <div class="Coluna direita">
            <img id="Imagem3" src="assets/images/obras/Rectangle90.png">
        </div>
    </div>
    <div class="meiaPagina">
        <img src="assets/images/obras/POLITICAL_BORDERS_x2F_DECOUPES_POLITIQUES.svg" style="padding-left: 150px; padding-top: 20px;">
        <h2 style="color: white; margin-left: 55%; padding-top: -40%; margin-top: -500px;">Confira nossas</h2>
        <h2 style="color:  white; margin-left: 55%; font-weight: 700    ;">obras por estado:</h2>
        <hr style="color: white; margin-left: 50%; margin-right: 20%;">
        <h2 style="color: white; margin-left: 54%; margin-right: 20%; padding-top: -40%; margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsa cum, ducimus ea maxime similique sapiente neque, ullam, ratione earum temporibus quo dignissimos. Veritatis mollitia quaerat optio inventore provident sunt.</h2>
    </div>

    <h5 style="padding-top: 100px; text-align: left;">Obras por sistema utilizado</h5>
    <hr>
        <img src="assets/images/obras/image25.png">
        <img src="assets/images/obras/image26.png">
        <img src="assets/images/obras/image27.png">
        <img src="assets/images/obras/image28.png">
        <img src="assets/images/obras/image29.png">
        <img src="assets/images/obras/image30.png">
    <h5>GALERIA DE OBRAS</h5>
    <hr>
    <h6>Aglo 2.0</h6>
    
    <div class="Cards">

        <app-cards></app-cards>

    </div>

    <app-footer></app-footer>
</div>