<div id="references">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6">
                <h6>REFERENCIAIS</h6>
                <h3>ESTRATÉGICOS</h3>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <div class="quality-testing">
                    <img src="assets/images/technology/Pintura Olgacolor.jpg" alt="Imagem do bloco referenciais"
                        class="w-100">
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div>
                    <h5>Missão</h5>
                    <p>
                        Fazer com que todos que se relacionam com a Olga se sintam especiais, por meio de relações autênticas,
                        soluções inovadoras sendo referência em cada detalhe.
                    </p>
                </div>
                <div>
                    <h5>Visão</h5>
                    <p>
                        Ser referência nacional em sistemas e acabamentos de alumínio, reconhecida pela qualidade, inovação e
                        pela capacidade de construir relações duradouras e inspiradoras com todo o ecossistema da marca.
                    </p>
                </div>
                <div>
                    <h5>Valores</h5>
                    <p>
                        <strong>Excelência em cada detalhe</strong> – Buscamos sempre o mais alto padrão de qualidade em
                        nossos produtos, serviços e relacionamentos.
                    </p>
                    <p class="mt-5">
                        <strong>Respeito e valorização das pessoas</strong> – Acreditamos que cada pessoa é única e
                        essencial para o nosso sucesso coletivo.
                    </p>
                    <p class="mt-5">
                        <strong>Inovação com propósito</strong> – Criamos soluções que unem tecnologia, design e
                        funcionalidade para transformar o mercado e gerar valor real.
                    </p>
                    <p class="mt-5">
                        <strong>Integridade e transparência</strong> – Agimos com ética, responsabilidade e compromisso em
                        todas as relações.
                    </p>
                    <p class="mt-5">
                        <strong>Sustentabilidade e futuro</strong> – Valorizamos práticas responsáveis que preservam o meio
                        ambiente e fortalecem o desenvolvimento das próximas gerações.
                    </p>
                    <p class="mt-5">
                        <strong>Parceria e colaboração</strong> – Construímos juntos com nossos clientes, parceiros,
                        fornecedores e equipe, resultados que geram orgulho e impacto positivo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>