<nav class="navbar navbar-expand-lg flex-column" id="header" [ngClass]="headerClass()">
    <div class="container">
        <div>
            <i class="bi bi-globe" title="Mudar idioma" (click)="openDropdown()"></i>
            @if (isDropdownOpen()) {
            <div class="dropdown">
                <ul>
                    <li (click)="changeLanguage('pt')">
                        Português
                    </li>
                    <li (click)="changeLanguage('en')">
                        Inglês
                    </li>
                </ul>
            </div>
            }
            <span class="ms-2 d-sm-none">|</span>
        </div>
        <span class="d-none d-sm-block">|</span>
        <div>
            <a routerLink="/login"><i class="bi bi-person-lock"></i>ACESSE A ÁREA DO CLIENTE</a>
            <span class="ms-2 d-sm-none">|</span>
        </div>
        <span class="d-none d-sm-block">|</span>
        <div>
            <p class="mb-0">FALE CONOSCO</p>
            <a href="https://www.linkedin.com/in/olgacolor-alum%C3%ADnio" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/olga_aluminio/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/@olga_aluminio" target="_blank">
                <i class="bi bi-youtube"></i></a>
            <a href="https://wa.me/551133181030" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>

        <!-- Campo de busca -->
        <input (focus)="onFocus()" [formControl]="searchProfileControl" [matAutocomplete]="auto" class="search-profile"
            type="text" placeholder="Buscar perfis" />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (profile of filteredProfiles | async; track profile.id) {
            <mat-option (click)="onProfileClick(profile)" [value]="profile">
                <div class="option">
                    <img [src]="profile.image_small" alt="Profile image" />
                    <span>{{ profile.name }}</span>
                </div>
            </mat-option>
            }
        </mat-autocomplete>
    </div>

    <div class="container">
        <a class="navbar-brand" routerLink="/pagina-inicial">
            <img class="img-fluid" src="assets/images/logo_olgacolor_white.avif" alt="Logo da Olgacolor">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-lg-3">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/pagina-inicial">Home</a>
                </li> -->
                <li class="nav-item dropdown" (mouseenter)="onDropdownMouseEnter($event)"
                    (mouseleave)="onDropdownMouseLeave($event)">
                    <a class="nav-link dropdown-toggle" role="button">
                        Institucional
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/tecnologia">Sobre nós</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao">Processos de produção</a></li>
                        <!-- <li><a class="dropdown-item" routerLink="/processos-producao/extrusao">Extrusão</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao/jateamento">Jateamento</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao/polimento">Polimento</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao/usinagem">Usinagem</a></li> -->
                    </ul>
                </li>

                <!-- Mercados -->
                <li class="nav-item dropdown" (mouseenter)="onDropdownMouseEnter($event)"
                    (mouseleave)="onDropdownMouseLeave($event)">
                    <a routerLink="/mercados" class="nav-link dropdown-toggle" role="button">
                        Mercados
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/mercados/construcao-civil">Construção Civil</a></li>
                        <li><a class="dropdown-item" routerLink="/mercados/envidracamento">Vidraçaria</a></li>
                        <li><a class="dropdown-item" routerLink="/mercados/linha-moveleira">Moveleiros</a></li>
                        <li><a class="dropdown-item" routerLink="/mercados/linha-industrial">Industriais</a></li>
                    </ul>
                </li>

                <!-- Perfis -->
                <li class="nav-item dropdown" (mouseenter)="onDropdownMouseEnter($event)"
                    (mouseleave)="onDropdownMouseLeave($event)">
                    <a routerLink="/perfis" class="nav-link dropdown-toggle" role="button">
                        Perfis
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" (click)="onPerfilClick('Construção Civil')">
                                Construção Civil
                            </a>
                        </li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Vidraçaria')">Vidraçaria</a></li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Moveleira')">Moveleiros</a></li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Industrial')">Industriais</a></li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Tabelados O')">Tabelados / Padrão</a></li>
                    </ul>
                </li>

                <!-- Acabamentos -->
                <li class="nav-item dropdown" (mouseenter)="onDropdownMouseEnter($event)"
                    (mouseleave)="onDropdownMouseLeave($event)">
                    <a routerLink="/acabamentos" class="nav-link dropdown-toggle" role="button">
                        Acabamentos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="onFinishesClick('Anodização')">Anodização</a></li>
                        <li><a class="dropdown-item" (click)="onFinishesClick('Pintura')">Pintura Eletrostática a Pó</a>
                        </li>
                        <li><a class="dropdown-item" (click)="onFinishesClick('Efeito Madeira')">Efeito Madeira</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lme">LME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>