<div class="Container">

<!-- Cards Esquerda -->

    <div class="GrupoEsquerdo">

        <div class="Card1E">
            <img src="assets/images/obras/cards/Rectangle79.png">
            <p class="descricao">São Paulo / SP
                <br>
                By Consorcio Allegra Pacaembu
                <br>
                Sistemas: Fachada Grid, Lock S e Linea Glass
            </p>
        </div>
        <div class="Card2E">
            <img src="assets/images/obras/cards/Rectangle80.png">
        </div>
        <div class="Card3E">
            <img src="assets/images/obras/cards/Rectangle81.png">
        </div>
        <div class="Card4E">
            <img src="assets/images/obras/cards/Rectangle82.png">
        </div>
        <div class="Card5E">
            <img src="assets/images/obras/cards/Rectangle83.png">
        </div>

        

    </div>

    <!-- Cards Direita -->

    <div class="GrupoDireito">

        <div class="Card1R">
            <img src="assets/images/obras/cards/Rectangle85.png">
        </div>
        <div class="Card2R">
            <img src="assets/images/obras/cards/Rectangle86.png">
        </div>
        <div class="Card3R">
            <img src="assets/images/obras/cards/Rectangle87.png">
        </div>
        <div class="Card4R">
            <img src="assets/images/obras/cards/Rectangle84.png">
        </div>

    </div>

</div>