.Container {
  display: flex;
  gap: 16px;            /* espaço entre os grupos */
  align-items: stretch;  /* mesma altura para os grupos */
  padding: 8px;         /* opcional: espaço interno */
  box-sizing: border-box;
  transform: scale(0.8); /* reduz todo o container em 20% */
  transform-origin: top left; /* define o ponto de origem da escala */
}

.GrupoEsquerdo {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas */
  gap: 16px;
}

.Card1E {
  grid-column: 1 / span 2; /* ocupa as duas colunas */
}

.descricao {
    margin-top: -90px;
    margin-left: 20px;
    color: white;
}

.Card2E {
  grid-column: 1; /* segunda linha, primeira coluna */
}

.Card3E {
  grid-column: 2; /* segunda linha, segunda coluna */
}

.Card4E {
  grid-column: 1 / span 1; /* ocupa as duas colunas */
}

.Card5E {
  grid-column: 2 / span 1; /* ocupa as duas colunas */
}

.GrupoDireito {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas */
  grid-template-rows: auto auto auto; /* 3 linhas */
  gap: 16px;
}

/* Card1 ocupa duas linhas na coluna da esquerda */
.Card1R {
  grid-column: 1;
  grid-row: 1 / span 2; /* pega a linha 1 e 2 */
  border-radius: 8px;
}

/* Card2 na primeira linha, direita */
.Card2R {
  grid-column: 2;
  grid-row: 1;
  border-radius: 8px;
}

/* Card3 na segunda linha, direita */
.Card3R {
  grid-column: 2;
  grid-row: 2;
  border-radius: 8px;
}

/* Card4 ocupa as duas colunas na última linha */
.Card4R {
  grid-column: 1 / span 2;
  grid-row: 3;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .Container {
    width: 95%;
    max-width: 500px;
    gap: 8px;
  }
  
  .GrupoEsquerdo,
  .GrupoDireito {
    gap: 4px;
  }
}