<div id="products">
    <div class="container">
        <app-dividing-line [width]="dynamicWidth()" [bg]="dynamicBg()" />

        <h5>PRODUTOS</h5>

        <div id="title" data-aos="flip-up" data-aos-delay="300">
            <h1>Muito além do <strong>essencial:</strong></h1>
            <h3 class="mt-4 mb-3">Descubra um universo de soluções para a construção civil.</h3>
            <a routerLink="/perfis" class="btn btn-outline-dark rounded-pill">Todos produtos</a>
        </div>

        <div class="carousel-container">
            <button class="carousel-arrow carousel-arrow-prev" (click)="slidePrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            
            <swiper-container #swiperContainer [config]="swiperConfig">
                @for (block of products_blocks(); track block) {
                <swiper-slide>
                    <div class="product-slide">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-6 product-content">
                                <div class="border-left" [id]="block.isLast ? 'nth-of-type' : ''"></div>
                                <img class="img-fluid" [src]="block.imgSrc" [alt]="block.altImg">
                                <ul class="big-informations">
                                    @for (li of block.details; track li) {
                                    <li>
                                        <h3>{{ li.value }}</h3>
                                        <p>{{ li.description }}</p>
                                    </li>
                                    }
                                </ul>
                                <p>{{ block.description }}</p>
                                <ul class="links">
                                    <li>
                                        <a routerLink="/catalogos">
                                            <h6>SAIBA MAIS</h6>
                                            <span class="bi bi-arrow-right-short fs-3"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/perfis">
                                            <h6>PRODUTOS</h6>
                                            <span class="bi bi-arrow-right-short fs-3"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 product-image mt-lg-0">
                                <img [src]="block.productImg" [alt]="block.altProduct" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
            
            <button class="carousel-arrow carousel-arrow-next" (click)="slideNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </div>
</div>