<div id="budget">
    <div class="container">
        <section class="cards">
            <!-- Imagem -->
            <div class="img">
                <img src="assets/images/home/budget.avif" alt="Imagem do orçamento" class="img-fluid d-block">
            </div>

            <!-- Texto -->
            <div class="text-card">
                <h2>FAÇA SEU ORÇAMENTO</h2>
                <a class="btn btn-outline-dark rounded-pill mt-3" routerLink="/contato">CLIQUE AQUI</a>
            </div>

            <!-- Texto -->
            <div class="text-card">
                <h5>CONHEÇA NOSSA ESTRUTURA</h5>
                <p>Nosso Grupo está instalado em 2 unidades, São Bernardo do Campo com área de 35.000m² e a
                    Fábrica de Jacutinga / MG com 90.000m² e capacidade para 20 mil toneladas / ano.
                </p>
                <p>Contamos com mais de 600 colaboradores diretos.</p>
            </div>

            <!-- Imagem -->
            <div class="img">
                <img src="assets/images/home/olgacolor-unidade-jacutinga.jpeg" alt="Imagem da unidade de Jacutinga"
                    class="img-fluid d-block">
            </div>

            <ul>
                <li>
                    <a routerLink="/pagina-inicial">
                        SISTEMISTAS E BENEFICIAMENTO
                        <span class="bi bi-box-arrow-up-right"></span>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>