<div id="furniture_line_main">
    <div class="container">
        <div class="img">
            <img src="assets/images/markets/furniture_line.png" alt="Imagem principal de construção civil">
        </div>

        <h1 class="mt-5 pt-5 text-center"><span>LINHA</span> MOVELEIRA</h1>
        <br>



        <!-- <h1 class="mt-4">Empresa que <span>conquista</span>, gera <span>confiança</span></h1> -->

        <p class="mb-0">
            Linha de produtos destinada ao segmento de móveis e decorações, com puxadores, perfis, montantes, trilhos,
            travessas, cabideiros, entre outros itens com acabamentos variados.
        </p>

        <!-- <img class="w-75 d-block mx-auto"
            src="assets/images/markets/civil-construction/Olgacolor_banner_Histótia-1400x454.png"
            alt="Imagem + 50 anos"> -->



        <div id="furniture_line">
            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/furniture-line/Linha-Moveleira.png" alt="Logo da Linha Moveleira"
                        class="img_content">
                    <h3 class="mt-3">Sistemas: <span>Linha Moveleira</span></h3>
                    <p class="mt-2">
                        Linha de produtos destinada ao segmento de móveis e decorações, com puxadores, perfis,
                        montantes, trilhos, travessas, cabideiros,
                        entre outros itens com acabamentos variados.
                    </p>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/furniture-line/Catalogo_unico_Moveleira.png"
                        alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-4">VISUALIZAR CATÁLOGOS
                        TÉCNICOS</a>
                    <a routerLink="/mercados/moveleira-ensaio" class="btn btn-outline-primary rounded-pill d-table mx-auto mt-3">VISUALIZAR ENSAIO MOVELEIRO 3D</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">
                <div class="col-lg-6">
                    <img src="assets/images/markets/furniture-line/Catalogo_unico_Infinite-Line.png"
                        alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS
                        TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/furniture-line/Infinite-Line (1).png" alt="Logo da Infinite Line"
                        class="img_content">
                    <h3 class="mt-3">Sistema: <span>Prateleiras</span></h3>
                    <p class="mt-2">
                        Um sistema para prateleiras desenvolvido para facilitar o processo de montagem e proporcionar
                        infinitas possibilidades de design.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>