<div id="olgacolor">
    <div class="olgacolor-wrapper">
        <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />

        <div class="olgacolor-header">
            <!-- <h5>OLGACOLOR</h5> -->
            <h1>Olgacolor</h1>
            <h3>Uma das maiores fabricantes de Perfis de Alumínio do país</h3>
        </div>

        <div class="stats-grid">
            <div class="stat-item">
                <h1>10.000</h1>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <p>Toneladas de anodização</p>
            </div>
            
            <div class="stat-item">
                <h1>20.000</h1>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <p>Toneladas de extrusão</p>
            </div>
            
            <div class="stat-item">
                <h1>18.000</h1>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <p>Toneladas de pintura eletrostática a pó</p>
            </div>
        </div>
    </div>
</div>