<div id="home">
    <!-- 1. HEADER (fixo) -->
    <app-header [customClass]="classScrolled" />
    
    <!-- 2. HERO PRINCIPAL (vídeo + call-to-action) -->
    <app-main />
    
    <!-- 3. SEÇÃO EMPRESA (visão + sobre) -->
    <!-- <app-vision /> -->
    <app-olgacolor />
    
    <!-- 4. SEÇÃO PRODUTOS & SERVIÇOS -->
    <app-markets />
    <app-products />
    <app-finishes />
    
    <!-- 5. SEÇÃO SOCIAL & PROCESSOS -->
    <app-responsibility />
    <app-slider-carousel />
    
    <!-- 6. SEÇÃO COMERCIAL (orçamento + preços) -->
    <app-price />
    <app-budget />
    
    <!-- 7. FOOTER -->
    <app-footer />
</div>